.card {
    width: 100%;
    max-width: 434px;
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 16px;
    flex-grow: 1;
}

.card-title {
    font-size: 1.5em;
    margin: 0 0 8px;
    color: rgb(0, 0, 0);
}

.card-text {
    font-size: 1em;
    margin: 0;
    color: rgb(0, 0, 0);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 1.2em;
}

.card-text.collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 1.2em;
}

.card-text.expanded {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-height: none;
}

.card-footer {
    padding: 16px;
    background: #f9f9f9;
    text-align: center;
}

.toggle-button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
}

.toggle-button:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff
}

.toggle-button::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.toggle-button::after{
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #157347;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.toggle-button:hover {
    color: #ffffff;
    border: 1px solid #157347;
}

.toggle-button:hover::before{
    top: -35%;
    background-color: #157347;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 
}
.toggle-button:hover::after{
    top: -45%;
    background-color: #157347;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  
}

.vision, .mission {
    margin-bottom: 20px;
}

.vision h3, .mission h3 {
    color: #007b5e;
    font-size: 20px;
    margin-bottom: 10px;
}

.vision p, .mission ol{
    color: #555;
}

.mission ol {
    padding-left: 20px;
}

.mission li {
    margin-bottom: 10px;
}

.gallery {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #157347;
}

.gallery-grid {
    display: flex;
    justify-content: space-between;
}

.gallery-item {
    flex: 1;
    margin: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.vision-mission {
    background: rgba(217, 217, 217, 0.58);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
  transition: all 0.5s;

}
.vision-mission:hover{
    border: 1px solid black;
    transform: scale(1.05);
}

.vision-mission h3 {
    color: #157347;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.vision-mission h4 {
    color: #157347;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.vision-mission p, .vision-mission ol {
    margin-left: 20px;
}

.vision-mission ol {
    list-style-type: decimal;
}

.tupoksi {
    background: rgba(217, 217, 217, 0.58);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
  transition: all 0.5s;

}
.tupoksi:hover{
    border: 1px solid black;
    transform: scale(1.05);
}

.tupoksi h3 {
    color: #157347;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.tupoksi h4 {
    color: #157347;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.tupoksi h5 {
    color: #157347;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.tupoksi p, .tupoksi ol {
    margin-left: 20px;
}

.tupoksi ol {
    list-style-type: decimal;
}

.petugas {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
  transition: all 0.5s;
}

.petugas:hover{
    border: 1px solid black;
  transform: scale(1.05);
}

.petugas h3 {
    color: #157347;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.petugas-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.petugas-card {
    background: rgba(217, 217, 217, 0.58);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
}

.petugas-card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}
.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.petugas-card-content h4 {
    color: #157347;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.petugas-card-content p {
    color: #333;
    margin: 5px 0;
}

.petugas-card-content h5 {
    color: #157347;
    margin-top: 10px;
}

.petugas-card-content ul {
    margin-left: 20px;
    list-style-type: disc;
}

.organigram {
    background-color: #f8f9fa; /* Light background for better contrast */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds depth */
    border: 1px solid #ddd; /* Subtle border */
    text-align: center; /* Center alignment for all content */
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
  transition: all 0.5s;
}
.organigram:hover{
    border: 1px solid black;
    transform: scale(1.05);
}

.organigram h3 {
    color: #157347; /* Green color for the text */
    font-size: 2em; /* Larger text size */
    margin-bottom: 20px; /* Spacing below the heading */
    font-family: 'Arial', sans-serif; /* More readable font */
}

.gambar-organigram {
    padding: 10px; /* Padding around the image */
    background-color: #fff; /* White background around the image */
    border-radius: 5px; /* Rounded corners for the image container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Shadow for the image container */
    border: 1px solid #aaa; /* Border around the image container */
}


.dasar-hukum {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
  transition: all 0.5s;
}

.dasar-hukum:hover{
    border: 1px solid black;
    transform: scale(1.05);
}

.dasar-hukum h3 {
    color: #157347;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}


@media (max-width: 768px) {
    .navbar-toggler {
        background-color: #157347; /* Ubah warna sesuai keinginan Anda */
        border-color: #157347; /* Ubah warna sesuai keinginan Anda */
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .img {
        margin-bottom: 10px;
    }
}

.gambar-organigram img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.address {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
  transition: all 0.5s;
}

.address:hover{
    border: 1px solid black;
    transform: scale(1.05);
}

.address h3 {
    color: #157347;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#address .img-fluid {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#address .container {
    margin-top: 40px;
    margin-bottom: 40px;
}

#address h2 {
    margin-bottom: 30px;
}

#address h4 {
    margin-top: 20px;
}

#address p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #address .row {
        flex-direction: column;
    }
    
    #address .col-lg-6 {
        margin-bottom: 20px;
    }
}
.carousel-item {
    height: 500px; /* Tetapkan tinggi container carousel */
}
.carousel-item img {
    max-height: 500px; /* Sesuaikan tinggi maksimum gambar */
    width: auto; /* Memastikan gambar mengisi lebar container tanpa mengubah proporsi */
    object-fit: contain; /* Memastikan gambar mengisi area dengan proporsi yang benar */
    margin: auto; /* Memastikan gambar berada di tengah */
}
.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Tetapkan tinggi container carousel */
}

.text-icon {
    color: #157347;
  }
  
  .button3 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .button3:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button3:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button3:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #157347;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button3:hover {
    color: #ffffff;
    border: 1px solid #157347;
  }
  
  .button3:hover:before {
    top: -35%;
    background-color: #157347;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button3:hover:after {
    top: -45%;
    background-color: #157347;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .animation-card {
    position: relative;
    width: 365px;
    height: 365px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.bg {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 350px;
    height: 350px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #157347;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

.address-animation{
    position: relative;
    width: 470px;
    height: 365px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.address-bg{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 460px;
    height: 350px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address-blob{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    border-radius: 50%;
    background-color: #157347;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}


/*chart*/

.org-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.org-chart ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.org-chart ul::before {
    content: '';
    display: block;
    width: 0;
    height: 20px;
    border-left: 2px solid black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.org-chart li {
    list-style-type: none;
    text-align: center;
    margin: 0 20px;
    position: relative;
    padding: 20px 5px 0 5px;
}

.org-chart li::before, .org-chart li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid black;
    width: 50%;
    height: 20px;
}

.org-chart li::after {
    right: auto;
    left: 50%;
    border-left: 2px solid black;
}

.org-chart li:only-child::after, .org-chart li:only-child::before {
    display: none;
}

.org-chart li:only-child {
    padding-top: 0;
}

.org-chart li:first-child::before, .org-chart li:last-child::after {
    border: 0 none;
}

.org-chart li:last-child::before {
    border-right: 2px solid black;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.org-chart li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.org-chart ul ul::before {
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    background: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.org-chart li div {
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: #b8860b;
    color: white;
    min-width: 200px;
}

.pendaftaran {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    background-image: url("../assets/img/covid-animals-quarantine-concept-image-funny-young-man-small-dog-medical-masks-owner-s.jpg"); 
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center; /* Center align text */
    height: 400px; /* Set a fixed height */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.pendaftaran:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.pendaftaran h3 {
    color: #157347;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
