/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #ffc800;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}*/

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
    background-color: white;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sop{
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
  transition: all 0.5s;
}

.sop:hover{
    border: 1px solid black;
    transform: scale(1.05);
}

.sop h2{
    color: #157347;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.target{
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
  transition: all 0.5s;
}

.target:hover{
    border: 1px solid black;
    transform: scale(1.05);
}

.target h2{
    color: #157347;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
.layanan{
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
  transition: all 0.5s;
}

.layanan:hover{
    border: 1px solid black;
    transform: scale(1.05);
}

.layanan h2{
    color: #157347;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
h2 {
    color: black;
    /* border-bottom: 2px solid #ffc800; */
    padding-bottom: 0.5em;
}

ol, ul {
    margin-left: 1em;
}

ol li, ul li {
    margin-bottom: 0.5em;
}

button {
    background-color: #ffc800;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* footer {
    background-color: #ffc800;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
} */
